<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand active">Team Programming!</span>
    </div>

    <p class="navbar-text">{{ player.name }}</p>
    <p class="navbar-text">Stage {{ game.status.stage }}</p>

    <div class="navbar-right navbar-text" countdown-timer="game.status.endTime"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 side-bar">
      <div ng-if="stage === 1">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="impl in view.impls" ng-click="openImpl(impl)"
              ng-class="{active: activeImpl == impl}">
            {{ impl.function.name }}
            <span class='pull-right glyphicon glyphicon-unchecked' ng-if="impl._dirty === undefined"></span>
            <span class='pull-right glyphicon glyphicon-check' ng-if="impl._dirty === false"></span>
            <span class='pull-right glyphicon glyphicon-edit' ng-if="impl._dirty === true"></span>
          </li>
        </ul>
      </div> 
      <div ng-if="stage === 2">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="review in view2.getReviewList()" 
              ng-click="openReview(review)" ng-class="{active: activeReview == review}">
            {{ review.impl.player.name }}'s {{ review.impl.function.name }}
            <span class='pull-right glyphicon glyphicon-unchecked' ng-if="review._dirty === undefined"></span>
            <span class='pull-right glyphicon glyphicon-check' ng-if="review._dirty === false"></span>
            <span class='pull-right glyphicon glyphicon-edit' ng-if="review._dirty === true"></span>
          </li>
        </ul>
      </div>
      <div ng-if="stage === 3">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="impl in view3.progImpls" ng-click="openImpl(impl)"
              ng-class="{active: activeImpl == impl}">
            {{ impl.function.name }}
            <span class='pull-right glyphicon glyphicon-unchecked' ng-if="impl._dirty === undefined"></span>
            <span class='pull-right glyphicon glyphicon-check' ng-if="impl._dirty === false"></span>
            <span class='pull-right glyphicon glyphicon-edit' ng-if="impl._dirty === true"></span>
          </li>
        </ul>
        <div>
          <label>Functions from Stage 1:</label>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="review in view3.getReviewList()" 
                ng-click="openReview(review)" ng-class="{active: activeReview == review}">
              {{ review.impl.player.name }}'s {{ review.impl.function.name }}
              <span class="badge">{{ review.rating.num }}/{{ review.rating.denom }}</span>
            </li>
          </ul>
        </div>
      </div> 
    </div>
    <div class="col-sm-9" role="main">
      <div ng-if="stage === 0">
        ...loading stage 1...
      </div>
      <div ng-if="stage === 1">
        <div ng-hide="activeImpl">
          <h2>Welcome to stage 1!</h2>
          <p>
          You have 20 minutes to code as the three functions listed to the left as well as you can.
          In stage 2, you'll have a chance to review your code in comparison with others, and
          in stage 3, you'll be able to use your and others' code to create a much large function.
          Good luck!
          </p>
        </div>
        <div ng-if="activeImpl">
          <h1>{{ activeImpl.function.name }}</h1>
          <p class="family-description">{{ activeImpl.function.family.description }}</p>
          <p class="function-description">{{ activeImpl.function.description }}</p>
          <form ng-submit="submitImpl()">
            <div class="form-group">
              <function-editor function="activeImpl"></function-editor>
              <button type="submit" class="btn btn-success">Save!</button>
            </div>
          </form>
        </div>
        <div ng-show="info" class="alert alert-success">
          {{ info }}
        </div>
        <div ng-show="error" class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      <div ng-if="stage === 1.5">
        ...loading stage 2...
      </div>
      <div ng-if="stage === 2">
        <div ng-hide="activeReviewSet">
          <h2>Welcome to stage 2!</h2>
          <p>
          You have 15 minutes to go through and review your code as compared to up to three other's
          implementations of the same function. You can upvote their implementation if you
          particularly like their submission. Or you could downvote it, if you think it's no good.
          Either way, you should also leave written comments so others can see your reasoning.
          </p>
        </div>
        <div ng-if="activeReviewSet">
          <h1>{{ activeReviewSet.impl.function.name }}</h1>
          <p class="family-description">{{ activeReviewSet.impl.function.family.description }}</p>
          <p class="function-description">{{ activeReviewSet.impl.function.description }}</p>
          <h3>{{ activeReviewSet.impl.player.name }}'s Solution:</h3>
          <function-editor function="activeReviewSet.impl" readonly></function-editor>
          <div review-view class="alert" ng-hide="review.player.id == player.id"
              ng-repeat="review in activeReviewSet.reviews">
            <label style="display: block">{{ review.player.name }}'s thoughts:</label>
            {{ review.comment }}
          </div>
          <form ng-submit="submitReview()">
            <div class="form-group">
              <label>What do you think?</label>
              <textarea class="form-control" rows="3" name="review" ng-model="activeReview.comment">Put your thoughts here!</textarea>
              <label class="checkbox">
                <input type="radio" ng-model="activeReview.rating" value="1">
                  I like this implementation!
                </input>
              </label>
              <label class="checkbox">
                <input type="radio" ng-model="activeReview.rating" value="0" checked>
                  This implementation is ok.
                </input>
              </label>
              <label class="checkbox">
                <input type="radio" ng-model="activeReview.rating" value="-1">
                  I dislike this implementation.
                </input>
              </label>
              <button type="submit" class="btn btn-success">Update</button>
            </div>
          </form>
        </div>
        <div ng-show="info" class="alert alert-success">
          {{ info }}
        </div>
        <div ng-show="error" class="alert alert-danger">
          {{ error }}
        </div>
      </div>
      <div ng-if="stage === 2.5">
        ...loading stage 3...
      </div>
      <div ng-if="stage === 3">
        <div ng-hide="activeImpl">
          <h2>Welcome to stage 3!</h2>
        </div>
        <div ng-if="activeImpl">
          <h1>{{ activeImpl.function.name }}</h1>
          <p class="family-description">{{ activeImpl.function.family.description }}</p>
          <p class="function-description">{{ activeImpl.function.description }}</p>
          <form ng-submit="submitImpl()">
            <div class="form-group">
              <function-editor function="activeImpl"></function-editor>
              <button type="submit" class="btn btn-success">Save!</button>
            </div>
          </form>
        </div>
        <div class="border" ng-if="activeReviewSet">
          <h1>{{ activeReviewSet.impl.function.name }}</h1>
          <div style="float: right;">Score: {{ activeReviewSet.rating.num }}/{{ activeReviewSet.rating.denom }}</div>
          <p class="family-description">{{ activeReviewSet.impl.function.family.description }}</p>
          <p class="function-description">{{ activeReviewSet.impl.function.description }}</p>
          <h3>{{ activeReviewSet.impl.player.name }}'s Solution:</h3>
          <function-editor function="activeReviewSet.impl" readonly></function-editor>
          <div review-view class="alert"
              ng-repeat="review in activeReviewSet.reviews">
            <label style="display: block">{{ review.player.name }}'s thoughts:</label>
            {{ review.comment }}
          </div>
        </div>
        <div ng-show="info" class="alert alert-success">
          {{ info }}
        </div>
        <div ng-show="error" class="alert alert-danger">
          {{ error }}
        </div>
      </div>
    </div>
  </div>
</div>
