.pad-left {
  padding-left:1em;
}

.page-header {
  .page-bubble;

  p.lead {
    margin-bottom: 10px;
  }
}

.page-bubble {
  background: rgba(255, 255, 255, .8);
  padding: .5em;
  border: 1 solid black;
}

.program-viewer {
  .page-bubble;
}

body {
  padding-top: 70px;
}

.navbar {
  .navbar-brand {
    color: white;
  }
}

.side-bar {
  ul {
    li:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}

.family-description {
  font-style: italic;
  white-space: pre;
}

.function-description {
  white-space: pre;
}

function-editor {
  .CodeMirror {
    height: auto;
  }

  .CodeMirror-scroll {
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.stderr {
  color: red;
}

.border {
  margin-left: 0;
  margin-right: 0;
  border: 1px #ddd solid;
  border-radius: 4px;
  padding: 0px 15px 15px;
}
