#regex-progress {
    margin-top:1em;
    margin-bottom:1em;
}

.pad-left {
    padding-left:1em;
}

.table-label {
    margin-top:.5em;
}

.regex-text {
    font-weight: bold;
}

.page-header p.lead {
    margin-bottom: 10px;
}
